<div class="well item" id="tab{{ tabid }}-col{{ colid }}-item{{ itemid }}">
    <div class="header">
        <div class="btn-group">
            <a class="btn viewgroup"><i class="icon-minus-sign"></i></a>
        </div>
        <span><a target="_blank" href="{{ feed.feed }}">{{ feed.name }}</a></span>
    </div>
    <div class="items">
        <div class="loading"
                data-href="{{ feed.feed }}"
                data-items="{{ feed.maxitems is defined ? feed.maxitems : feeder.maxitems }}"
                data-age="{{ feed.maxage is defined ? feed.maxage : feeder.maxage }}"></div>
    </div>
</div>